@using EmployeesManagment.ViewModels.Employee;
@model List<ListViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" asp-append-version="true" media="screen" href="~/assets/css/bootstrap.css" />
</head>
<body>

    <div class="container">

        <div class="row justify-content-end">
            <div class="">
                <a asp-controller="employee" asp-action="add" target="_blank" class="btn btn-secondary">Add new employee</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Employee Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Father Name</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var empModel in Model)
                {
                    @if (empModel.IsDeleted == false)
                    {
                        <tr>

                            <th scope="row">@empModel.EmployeeCode</th>
                            <td>@empModel.Name</td>
                            <td>@empModel.Surname</td>
                            <td>@empModel.FatherName</td>

                            <td>

                            <a asp-route="employee-delete" asp-route-empcode="@empModel.EmployeeCode" class="btn btn-danger">Delete</a>
                                <a asp-route="employee-update-empcode" asp-route-empcode="@empModel.EmployeeCode" target="_blank" class="btn btn-secondary">Update</a>
                            </td>

                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>
</body>
</html>